{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<style>
    .center-this {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

</style>
{% endblock %}

{% block navbar %}
{{ macros.render_navbar('/') }}
{% endblock %}

{% block content %}
{{super()}}
    <div class="container-fluid">
        <center><h1>WESCAP POWER INDEX FORMULA</h1></center>
        <center><img src="{{ url_for('static', filename='images/WCPIAlogrithm.png') }}" height="500"></center>
    </div>
{% endblock %}
