{% macro render_navbar(href) %}
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={{href}}>Wescap Power Index</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/squad">Current A Team</a></li>
                <li><a href="/results">Season 4 Final Scores</a></li>
                <li><a href="/formula">WCPI Formula</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/store">Store</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endmacro %}
{% macro render_wcpi(users) %}
    <div class="container-fluid">
        <div class="table-responsive" style="background-color: white">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Player</th>
                        <th scope="col">Gamertag</th>
                        <th scope="col">WCPI</th>
                        <th scope="col">Solo Kills Per Match</th>
                        <th scope="col">Duo Kills Per Match</th>
                        <th scope="col">Squad Kills Per Match</th>
                        <th scope="col">Solo Matches Played</th>
                        <th scope="col">Duo Matches Played</th>
                        <th scope="col">Squad Matches Played</th>
                        <th scope="col">Total Matches Played</th>
                        <th scope="col">Solo Wins</th>
                        <th scope="col">Duo Wins</th>
                        <th scope="col">Squad Wins</th>
                        <th scope="col">Total Wins</th>
                        <th scope="col">Solo Win Percentage</th>
                        <th scope="col">Duo Win Percentage</th>
                        <th scope="col">Squad Win Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td scope="row">{{loop.index}}</td>
                        <td><a href="/user?username={{user.name}}">{{user.name}}</a></td>
                        <td>{{user.gamertag}}
                        <td>{{user.stats.wcpi_score}}</td>
                        <td>{{user.stats.solo_kpg|round(2)}}</td>
                        <td>{{user.stats.duo_kpg|round(2)}}</td>
                        <td>{{user.stats.squad_kpg|round(2)}}</td>
                        <td>{{user.stats.solo_matches|int}}</td>
                        <td>{{user.stats.duo_matches|int}}</td>
                        <td>{{user.stats.squad_matches|int}}</td>
                        <td>{{user.stats.total_matches|int}}</td>
                        <td>{{user.stats.solo_wins|int}}</td>
                        <td>{{user.stats.duo_wins|int}}</td>
                        <td>{{user.stats.squad_wins|int}}</td>
                        <td>{{user.stats.total_wins|int}}</td>
                        <td>{{(user.stats.solo_win_percentage * 100)|round(2)}}</td>
                        <td>{{(user.stats.duo_win_percentage * 100)|round(2)}}</td>
                        <td>{{(user.stats.squad_win_percentage * 100)|round(2)}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

{% endmacro %}
