{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
{{ macros.render_navbar('/') }}
{% endblock %}

{% block content %}
{{super()}}
<center><h1>Each shirt funds 1 month of server time.</h1></center>
<center><h2><a href="https://www.amazon.com/Mens-Wescap-Power-Index-Ballers/dp/B07GDVR6KP/">$24.99 on Amazon Prime</a></h2></center>
 <div class="row">
  <div class="column">
    <center>
            <img src="{{ url_for('static', filename='images/front.png') }}" width="350" height="350">
            <img src="{{ url_for('static', filename='images/back.png') }}" width="350" height="350">
    </center>
  </div>
</div>
{% endblock %}
